.carousel-item img{
    height: 400px;
    border-radius: 10px;
}

.carousel-item{
    background-color: #fdfdfa;
    padding: 6px;
}


@media only screen and (max-width: 600px) {
    .carousel-item img{
        height: 180px;
        border-radius: 10px;
    }
    
}