.catergory-card {
  height: 330px;
  padding: 10px;
  text-align: justify;
  background-color: rgb(248, 241, 218);
}
.catergory-card img:hover {
  transition: 0.5s;
  transform: scale(1.5);
  position: relative;
  z-index: 1;



}
.catergory-card img {
  height: 160px;
  width: 100%;
  border-radius: 10px;
}
.catergory-card p {
  text-align: justify;

}

@media only screen and (max-width: 600px) {
  .catergory-card {
    height: 100%;
  }
}
